*{
    margin:0;
  /*  padding:0;*/
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background:url("cos.png.jpg");
    
    background-position: center;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-bar .title{
    color:black;
    font-size:60px;
    font-weight: 600;
    cursor:pointer;

}
.nav-bar p{
    position: absolute;
    margin-top: 90px;
    margin-left:50px;
    color:white;
    font-size: 20px;
    font-weight: 500;

}
span{
    color:crimson;
}
.menu li{
    list-style: none;
    display: inline;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 25px;
    font-weight: 600;
    transition: .4s ease;

}
.menu li a:hover{
    color: crimson;
    padding:5px 10px;
    border: 2px solid white;
}
.home{
    height:400px;
    padding:70px;
}
.title-l{
    font-size: 56px;
    color: white;
    font-weight: 600;

}
.home p{
    color:lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 2px;

}
.home button{
    margin-top:5px;
    height: 40px;
    color:white;
    font-size:22px;
    background:crimson;
    padding:5px 30px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
    transition: .4s ease;
    
    
}
.home button:hover{
    background: none;
    border: 2px solid crimson;
}
