*{
    margin:0;
   /* padding:0;*/
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background:url("shj.jpg");
    background-position: center;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-bar .title{
    color:white;
    font-size:60px;
    font-weight: 600;
    cursor:pointer;

}
span{
    color:crimson;
}
.menu li{
    list-style: none;
    display: inline;
}
.menu li a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin-left: 25px;
    font-weight: 600;
    transition: .4s ease;

}
.menu li a:hover{
    color: crimson;
    padding:5px 10px;
    border: 2px solid white;
}
.a{
    margin:0 auto;
   
    justify-content: center;
    color:white;
    width:500px;
    background:rgb(155, 5, 105);
    padding:20px;
   border-radius: 30px;
}
input[type=text],input[type=email],input[type=number],input[type=password]{
    display:block;
    width:96%;
    padding:10px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 12px;
    align-items: center;
    

}
input[type=submit],input[type=reset]{
    display: inline-block;
    background-color: aqua;
    color:black;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    width:80px;

}
input[type=submit]:hover,input[type=reset]:hover{
    background-color: chartreuse;
}
h2{
    color:rgb(203, 242, 10);
    margin:0 auto;
    text-align: center;
    font-size: 40px;
}
label{
    display:block;
    font-weight: bold;
   
    
}
